.body {
    max-width: 1000px;
    padding: 0px 15px;
    margin: 20px auto 80px auto;
}

h1 {
    text-align: center;
    font-size: 48px;
}

h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0px;
}

h3 {
    font-size: 24px;
    margin-bottom: 0px;
    text-transform: uppercase;
    color: #333
}

.ruler {
    height: 2px;
    background-color: #999;
    border-width: 0px;
    margin: 15px 0px;
}

.article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3px 0px 0px 0px;
}

span.theme {
    color: #666;
}

span.dot-separator {
    margin: 0px 8px;
    font-weight: 700;
}

@media only screen and (max-width: 400px) {
    span.dot-separator {
        margin: 0px 4px
    }
}

p {
    font-size: 20px;
    margin: 0px;
    text-align: justify;
}

li {
    font-size: 20px;
}

a {
    font-size: 20px;
}

.date {
    font-size: 20px;
    font-weight: 300;
    color: #444;
    font-family: 'Courier New', Courier, monospace;
}

.article-date {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.anchor-hide {
    text-decoration: none;
    font-size: 16px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.margin-20 {
    margin: 20px;
}

.margin-10 {
    margin: 10px;
}

.indent {
    text-indent: 2em;
}